<div class="page-container container">
	<div class="header">
		<h1>Notes</h1>
		<div class="header-filters">
			<%- 
			include(`../components/button.ejs`, { context: "New", className: "button button-1", action: "togglePagePopup('create')" } ) 
			-%>
			<%- 
			include(`../components/selection.ejs`, { list: ["All"], className: "selection selection-1 note-filter", name: "note-active" } ) 
			-%>
		</div>
	</div>
	<div class="content" id="notes-deposit">
	</div>
</div>
<div class="overlay create">
	<div class="content">
		<div class="content-header">
			<p class="title">Create Note</p>
			<img onclick="togglePagePopup('create')" src="../files/themes/<%= theme_name %>/icons/global/close.svg">
		</div>
		<div class="content-main">
			<%- 
			include(`../components/input.ejs`, { placeholder: "Title", className: "input input-1", name: "note-title" } ) 
			-%>
			<%- 
			include(`../components/button.ejs`, { context: "Create", className: "button button-1", action: "newNote()" } ) 
			-%>
		</div>
	</div>
	<div onclick="togglePagePopup('create')" class="background">&nbsp;</div>
</div>	

<div class="overlay full read">
	<div class="content">
		<div class="content-header">
			<div>
			<%- 
			include(`../components/input.ejs`, { placeholder: "	", className: "input input-2 title", name: "note-current-title" } ) 
			-%>
			<%- 
			include(`../components/input.ejs`, { placeholder: "Category", className: "input input-1", name: "note-category" } ) 
			-%>
			<%- 
			include(`../components/imagecolor.ejs`, { className: "imagecolor imagecolor-1", name: "note-image" } ) 
			-%>
			</div>
			<img onclick="togglePagePopup('read'); noteEndInterval()" src="../files/themes/<%= theme_name %>/icons/global/close.svg">
		</div>
		<div class="content-main">
			<textarea id="tinymce-note"></textarea>
		</div>
	</div>
	<div onclick="togglePagePopup('read'); noteEndInterval()" class="background">&nbsp;</div>
</div>	