<!DOCTYPE HTML> 
<html lang="en">

<head>
	<title>Velosuite</title>
	<%- 
	include('./components/head.ejs', {theme_name: theme_name})
	-%>
	<!-- Index -->
	<link rel="stylesheet" type="text/css" href="../files/themes/<%= theme_name %>/css/index.css">
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../files/themes/<%= theme_name %>/js/index.js"></script>
</head>

<body style="background-image:url(../files/themes/<%= theme_name %>/images/background_min.jpg);">

<%- 
include(`../files/themes/${theme_name}/components/popupmessage.ejs`)
%>

<%- 
include(`../files/themes/${theme_name}/components/navigator.ejs`, {theme_name: theme_name})
%>

<div class="container home">

	<%- 
	include(`../files/themes/${theme_name}/components/clock.ejs`, {theme_name: theme_name})
	%>

	<%- 
	include(`../files/themes/${theme_name}/components/weather.ejs`, {theme_name: theme_name})
	%>

</div>

<div class="pages" id="pages">
	<div class="page-projects page-each" value="projects" id="page-projects">
		<%- 
		include(`../files/themes/${theme_name}/pages/projects.ejs`, {theme_name: theme_name})
		%>
	</div>
	<div class="page-notes page-each" value="notes" id="page-notes">
		<%- 
		include(`../files/themes/${theme_name}/pages/notes.ejs`, {theme_name: theme_name})
		%>
	</div>
	<div class="page-notes page-each" value="tasks" id="page-tasks">
		<%- 
		include(`../files/themes/${theme_name}/pages/tasks.ejs`, {theme_name: theme_name})
		%>
	</div>
	<div class="page-timeline page-each" value="timeline" id="page-timeline">
		<%- 
		include(`../files/themes/${theme_name}/pages/timeline.ejs`, {theme_name: theme_name})
		%>
	</div>
	<div class="page-health page-each" value="health" id="page-health">
		<%- 
		include(`../files/themes/${theme_name}/pages/health.ejs`, {theme_name: theme_name})
		%>
	</div>
	<div class="page-settings page-each" value="settings" id="page-settings">
		<%- 
		include(`../files/themes/${theme_name}/pages/settings.ejs`, {theme_name: theme_name, theme_list: theme_list, weather_units: weather_units })
		%>
	</div>
</div>

<div style="display:none;">
	<p value="<%= weather_selected %>" id="weather-units"></p>
</div>

</body>

</html>	