<!DOCTYPE HTML> 
<html lang="en">

<head>
	<title>Velosuite — Login</title>
	<%- 
	include('./components/head.ejs', {theme_name: theme_name})
	-%>
	
	<!-- Setup -->
	<link rel="stylesheet" type="text/css" href="../css/login.css">
	<script type="text/javascript" src="../js/login.js"></script>
</head>

<body style="background-image:url(../files/themes/<%= theme_name %>/images/login.jpg);">

<div class="login">
	<img class="logo" src="./files/images/logo/logo-icon.svg">
	<div class="login-content">
		<p class="title">Welcome Back</p>
		<p class="description">Enter your credentials to access your account</p>
		<div class="login-form">
		<%- 
		include(`../files/themes/${theme_name}/components/input.ejs`, { image: `./files/themes/${theme_name}/icons/global/user-blue.svg`, placeholder: "Username", className: "input input-3", name: "login-username" } ) 
		-%>
		<%- 
		include(`../files/themes/${theme_name}/components/input.ejs`, { image: `./files/themes/${theme_name}/icons/global/lock-blue.svg`, placeholder: "Password", className: "input input-3", name: "login-password" } ) 
		-%>
		<%- 
		include(`../files/themes/${theme_name}/components/button.ejs`, { context: "Sign in", className: "button button-1", action: "login()" } ) 
		-%>
		</div>
	</div>
</div>

<div style="display:none;">
	<p value="<%= theme_name %>" id="theme-selected"></p>
</div>

</body>

</html>	