<!DOCTYPE HTML> 
<html lang="en">

<head>
	<title>Velosuite — Setup</title>
	<%- 
	include('./components/head.ejs', {theme_name: theme_name})
	-%>
	<!-- Setup -->
	<link rel="stylesheet" type="text/css" href="../css/setup.css">
	<script type="text/javascript" src="../js/setup.js"></script>
</head>

<body>

<%- 
include(`../files/themes/${theme_name}/components/popupmessage.ejs`)
%>

<div class="popup" id="popup">
	<div class="popup-gradient" id="popup-gradient">
		<img id="popup-gradient-icon" src="./files/images/logo/logo-icon.svg">
	</div>
	<div class="popup-content" id="popup-content">
		<div class="popup-content-welcome">
			<div>
				<p class="title">Welcome</p>
				<p class="description">Velosuite is a self hosted app for self improvement and discipline, you'll find a large variety of tools to manage notes, schedules, reminders etc</p>
			</div>
			<div class="popup-content-buttons">
			&nbsp;
			<%- 
			include(`../files/themes/${theme_name}/components/button.ejs`, { pos: 1, context: "continue", className: "button button-1 button-next", action: "nextSlide(this)" } ) 
			-%>
			</div>
		</div>
		<div class="popup-content-language">
			<div>
				<p class="title">Language</p>
				<p class="description">If your language is not present you can colaborate by <a href="#">adding the translation</a>. You can always change this on settings</p>
			</div>
			<div class="popup-content-buttons">
			<%- 
			include(`../files/themes/${theme_name}/components/button.ejs`, { pos: 0, context: "back", className: "button button-1 button-back", action: "backSlide(this)" } ) 
			-%>
			<%- 
			include(`../files/themes/${theme_name}/components/button.ejs`, { pos: 2, context: "continue", className: "button button-1 button-next", action: "nextSlide(this)" } ) 
			-%>
			</div>
		</div>
		<div class="popup-content-language">
			<div>
				<p class="title">Customization</p>
				<p class="description">Velosuite is highly customizable, colors, fonts, effects, animations, ui elements etc<br>You can also design themes and upload them to the <a href="#">theme browser</a></p>
			</div>
			<div class="popup-content-buttons">
			<%- 
			include(`../files/themes/${theme_name}/components/button.ejs`, { pos: 1, context: "back", className: "button button-1 button-back", action: "backSlide(this)" } ) 
			-%>
			<%- 
			include(`../files/themes/${theme_name}/components/button.ejs`, { pos: 3, context: "continue", className: "button button-1 button-next", action: "nextSlide(this)" } ) 
			-%>
			</div>
		</div>
		<div class="popup-content-account">
			<div>
				<p class="title">Account</p>
				<p class="description">Tell us a little about yourself, you can lock access using a password in settings</p>
				<br>
				<%- 
				include(`../files/themes/${theme_name}/components/input.ejs`, { placeholder: "Username", className: "input input-1", name: "username" } ) 
				-%>
			</div>
			<div class="popup-content-buttons">
			<%- 
			include(`../files/themes/${theme_name}/components/button.ejs`, { pos: 2, context: "back", className: "button button-1 button-back", action: "backSlide(this)" } ) 
			-%>
			<%- 
			include(`../files/themes/${theme_name}/components/button.ejs`, { pos: 4, context: "continue", className: "button button-1 button-next", action: "nextSlide(this)" } ) 
			-%>
			</div>
		</div>
		<div class="popup-content-init">
			<div>&nbsp;</div>
			<div class="content">
				<div>
					<p class="title-init">Initializing</p>
					<p class="subtitle-init">Velosuite</p>
				</div>
				<%- 
				include(`../files/themes/${theme_name}/components/progress.ejs`, { className: "progress progress-1", id: "progress-init" } ) 
				-%>
			</div>
			<div class="quote">
				<p>This should be fun, it's always nice to have a goal in life.</p>
			</div>
		</div>
	</div>
</div>

</body>

</html>	