<button pos="<%= pos %>" onclick="<%= action %>" class="<%= className + " " + context %>">
<% if(context == "continue") { %>
	<%= context %>
	<img src="../files/themes/default/icons/global/arrow-1-right.svg">
<% } else if(context == "back") { %>
	<img src="../files/themes/default/icons/global/arrow-1-left.svg">
	<%= context %>
<% } %>
</button>