<div class="<%= className %>">
	<input style="background-image:url(<% if (locals.image) { %> <%= image %> <% } %>);" type="text" name="<%= name %>" id="<%= name %>">
	<label for="<%= name %>"><%= placeholder %></label>
</div>