<div class="<%= className %>">
	<input type="text" placeholder="<%= placeholder %>" name="<%= name %>" id="<%= name %>">
	<label style="background-image:url(<% if (locals.image) { %> <%= image %> <% } %>);" for="<%= name %>"><% if (locals.label) { %> <%= label %> <% } %></label>
</div>