<div class="nav" id="nav">
	<div>
		<div class="nav-home nav-each active" value="home" id="nav-home">
			<img src="../files/themes/<%= theme_name %>/icons/global/home.svg">
		</div>
		<div class="nav-projects nav-each" value="projects" id="nav-projects">
			<img src="../files/themes/<%= theme_name %>/icons/global/projects.svg">
		</div>
		<div class="nav-notes nav-each" value="notes" id="nav-notes">
			<img src="../files/themes/<%= theme_name %>/icons/global/notes.svg">
		</div>
		<div class="nav-timeline nav-each" value="timeline" id="nav-timeline">
			<img src="../files/themes/<%= theme_name %>/icons/global/timeline.svg">
		</div>
		<div class="nav-health nav-each" value="health" id="nav-health">
			<img src="../files/themes/<%= theme_name %>/icons/global/health.svg">
		</div>
	</div>
	<div class="nav-settings nav-each" value="settings" id="nav-settings">
		<img src="../files/themes/<%= theme_name %>/icons/global/settings.svg">
	</div>
</div>