<div class="<%= className %>">
<% for (var i = 0; i < list.length; i++) { %>
	<div class="selection-each">
		<input id="<%= list[i] %>" value="<%= list[i] %>" name="<%= name %>" type="radio" <% if (locals.ldefault) { %> <% if (ldefault == list[i]) { %> checked <% } %> <% } else if (list[i] == "All") { %> checked <% } %>>
		<label for="<%= name %>"><%= list[i] %></label>
	</div>
<% } %>
</div>